@charset "UTF-8";
/*********** reset **********/
html, body {
            font-family: "Avenir", sans-serif;
            background-color: #222;
            color: #eee;
            font-size: 18px;
            line-height: 1.6;
        }

h1,h2,h3,h4,h5,h6 {
            font-weight: 300;
        }

        h1 {
            text-align: center;
            padding-bottom: 40px;
            line-height: 1;
            font-size: 80px;
        }

        a {
            text-decoration: none;
            color: #ccc;
        }

      

        h1 .sub.header {
            margin-top: 0;
            padding-top: 0;
            color: #aaa;
            line-height: 1.6;
            font-size: 18px;

        }


        .wrapper {
  height: 10vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}


        h1 .sub.header  {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
 font-size: 18px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: #8c66cf;
  }
}


        .container {
            margin: 20px auto;
            text-shadow: 0 1px 1px rgba(0,0,0,0.6);
        }

        .example-item {
            text-align: center;
        }

        .btns {
            text-align: center;
        }

        .btn, .btn-basic {
            text-align: center;
            color: white;
            text-decoration: none;
            padding: 10px 30px;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 20px;
            display: inline-block;
        }
        .btn {
            background: #8c66cf;
        }

        .btn:hover {
           
            box-shadow: 20px 50px 100px rgba(89, 36, 100, 1.5);
            
            border: 1px solid #FFFF33;
          
        }

        .btn-basic {
            background: transparent;
            border: 1px solid #8c66cf;
        }


        .footer {
            background: #444;
            padding: 20px 0 30px;
            text-align: center;
        }
 

        h2 {
            padding-left: 20px;
            border-left: 1px solid #a98ddb;
            margin-top: 100px;
            text-shadow: 0 1px 1px rgba(0,0,0,0.6);
        }

         code {
            color: #a98ddb;
        }

        .text {
          margin-left: 200px;

        } 

     .footer {
            background: #444;
            padding: 20px 0 30px;
            text-align: center;
        }